<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Giaodien">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterStep1Activity"
            android:exported="false" />
        <activity
            android:name=".RegisterStep2Activity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".DishListActivity"
            android:exported="false" />
        <activity
            android:name=".AddDishActivity"
            android:exported="false" />
        <activity
            android:name=".EditDishActivity"
            android:exported="false" />
        <activity
            android:name=".NewOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmedOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".OrdersManagerActivity"
            android:exported="false" />
        <activity
            android:name=".PromotionListActivity"
            android:exported="false" />
        <activity
            android:name=".AddPromotionActivity"
            android:exported="false" />
        <activity
            android:name=".EditPromotionActivity"
            android:exported="false" />
        <activity
            android:name=".SalesReportActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewListActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewDetailActivity"
            android:exported="false" />
    </application>

</manifest>